{% for comment in comments %}
    <li>
        <div class="card mt-3">
            <div class="card-body">
                {% if comment.isDeleted %}
                    Deleted comment!
                {% else %}
                    <div>{{ comment.author ? comment.author.name : comment.authorName }} -
                        <small>{{ comment.createdAt | date('d.m.Y') }}</small>
                    </div>
                    <div class="comment-text">{{ comment.text }}</div>
                    {% if comment.editedBy %}
                        <small> edited by {{ comment.editedBy.name }} at {{ comment.editedAt | date('d.m.Y') }}</small>
                    {% endif %}

                    <div class="gap-2 d-flex justify-content-end">
                        {% if is_granted('ROLE_ADMIN') or (app.user and app.user is same as (comment.author)) %}
                            <div class="btn btn-outline-warning btn-sm btn-edit-comment" data-comment-id="{{ comment.id }}">Edit</div>
                            <div class="btn btn-outline-danger btn-sm btn-delete-comment" data-comment-id="{{ comment.id }}">Delete</div>
                        {% endif %}
                        <div class="btn btn-outline-success btn-sm btn-reply-comment" data-comment-id="{{ comment.id }}">Reply</div>
                    </div>
                    <div class="comment-reply-container"></div>
                {% endif %}
            </div>
        </div>

        {% if comment.comments %}
            <ul>
                {% include "comment/comment.html.twig" with { 'comments': comment.comments } %}
            </ul>
        {% endif %}
    </li>
{% endfor %}