{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('comment') }}
{% endblock %}

{% block body %}
    <article>
        <h1>{{ article.title }}</h1>
        <small>by {{ article.author.name }} / {{ article.createdAt|date('d.m.Y') }}</small>
        <p>{{ article.text }}</p>
    </article>

    {% if is_granted('ROLE_ADMIN') %}
        {% include 'article/admin_menu.html.twig' %}
    {% endif %}

    {% include 'comment/comment_form.html.twig' %}

    <div>
        <ul>
            {% include "comment/comment.html.twig" with {'comments': article.rootComments} %}
        </ul>
    </div>
{% endblock %}
