{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}
    <article>
        <h1>{{ article.title }}</h1>
        <small>by {{ article.author.email }} / {{ article.createdAt|date('d.m.Y') }}</small>
        <p>{{ article.text }}</p>
    </article>
{% endblock %}
